.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em;
  line-height: 1.8em;
}

#TicketMessage {
  max-width: 340px;
}